    .body {
        background-color: #3cc395;
    }
    
    .header {
        width: 100%;
        text-align: left;
        padding: 10px 0 10px 10px;
        padding-left: 2%;
        background-color: lightcoral;
        font-size: 48px;
        font-family: 'Amatic SC', cursive;
        font-weight: 500;
    }
    
    .button {
        display: inline-block;
        margin: 10px 20px;
        color: #fff;
        font-family: BebasNeue;
        font-size: 210%;
        font-weight: bold;
        text-transform: uppercase;
        background-color: transparent;
        border-radius: 13px;
        border: 3px solid #fff;
        padding: 6px 20px;
        opacity: 1;
        transition: .15ms ease-in-out;
        font-family: 'Amatic SC', cursive;
        font-weight: 1000;
    }
    
    button:hover {
        opacity: 0.8;
        transition: 15ms ease-in-out;
    }
    
    .all_b {
        display: flex;
        justify-content: space-around;
    }
    
    .left {
        width: 28%;
        height: auto;
        padding: 20px;
        display: flex;
        flex-flow: column nowrap;
    }
    
    .right {
        width: 72%;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        padding-top: 20px;
    }
    
    .textbox {
        width: 70%;
        align-self: center;
        border-radius: 10px;
        text-align: center;
        font-size: 18;
        font-family: 'Yusei Magic', sans-serif;
    }
    
    .tb {
        width: 50%;
        align-self: center;
        border-radius: 10px;
        text-align: center;
        font-size: 18;
        align-items: center;
        font-family: 'Yusei Magic', sans-serif;
    }
    
    .image {
        display: flex;
        width: 40%;
        height: 50%;
        padding-left: 3%;
        max-height: 450px;
        max-width: 300px;
        padding-top: 2%;
    }
    
    .right_2 {
        width: 72%;
        max-width: 400px;
        height: auto;
        display: flex;
        flex-flow: row;
        padding-top: 20px;
    }
    
    .desc {
        font-family: 'Amatic SC', cursive;
        font-size: 28;
        padding-top: 10%;
        padding-bottom: 0%;
        padding-left: 10%;
    }
    
    .info {
        display: flex;
        justify-content: space-around;
        padding-top: 3%;
    }
    
    .stats {
        width: 28%;
        height: auto;
        padding: 20px;
        display: flex;
        flex-flow: column nowrap;
        font-family: 'Amatic SC', cursive;
        font-size: 28;
        padding-top: 3%;
    }
    
    .art {
        height: auto;
        display: flex;
        flex-flow: column nowrap;
    }
    
    .art_desc {
        border-radius: 10px;
        font-family: 'Amatic SC', cursive;
        font-size: 28;
    }
    
    .left_2 {
        width: 45%;
        height: auto;
        padding: 20px;
        display: flex;
        flex-flow: column nowrap;
        max-width: 300px;
    }
    
    p {
        font-family: 'Amatic SC', cursive;
        font-weight: bold;
        font-size: 16;
        align-self: center;
    }